.button {
	display: flex;
	justify-content: center;
	padding: 1rem;
	margin: 1rem 0;
	transition: background-color 0.3s;
	border: 1px solid #9ca3af;
	border-radius: 0.5rem;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
	width: 3.5rem;
}

.button:hover {
	background-color: #d1d5db;
}

.bg {
	background-color: #1d4ed8;
	border-radius: 9999px;
	opacity: 0.8;
	height: 100%;
	width: 100%;
	position: absolute;
	filter: blur(30px);
}

.count {
	font-size: 3.75rem;
	position: relative;
	z-index: 10;
	color: #fbbf24;
}
