.ranger__image {
	display: flex;
	flex: none;
	justify-content: center;
	align-items: center;
}

.ranger__image.single {
	@media screen and (min-width: 640px) {
		height: auto;
		width: 12rem;
	}
}

@media screen and (min-width: 1024px) {
	.ranger__image {
		height: auto;
		width: 12rem;
	}
}

.custom-height {
	max-height: 12rem;
	height: 42.5vw;
}
