@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom component styles */
h1,
.h1 {
	font-size: 3.75rem;
	font-weight: bold;
	line-height: 1.2;
}
h2,
.h2 {
	font-size: 2.25rem;
	font-weight: bold;
	margin-top: 1rem;
}
h3,
.h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 0.5rem;
}
p,
.p {
	padding-bottom: 0.5rem;
	line-height: 1.375;
}

.card {
	border: 1px solid #e5e7eb;
	border-radius: 0.5rem;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card.content,
.card .content {
	padding: 0.75rem;
}
