.loading {
	box-shadow: 0 -32px 0 0 #7e22ce inset;
}
.spinner {
	width: 300px;
	height: 300px;
	background-color: #7e22ce;

	border-radius: 100%;
	animation: sk-scaleout 2s infinite cubic-bezier(0.29, 1.2, 1, -0.68);
}

@-webkit-keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}

@keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}
